{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hash Marker</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="blue-grey lighten-5">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<nav>
    <div class="nav-wrapper colour">
        <div class="container">
            <a href="#" class="brand-logo">Hash Marker</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>

                {% if user.id %}
                    <li><a href="{% url 'marked' %}">Make a Mark</a></li>
                    <li><a href="{% url 'mark_list' %}">Mark List</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'regis' %}">Sign up</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<div class="container center-align">

    {% block title %}
        {% if user.username %}
            <h2 style="color: grey">Welcome to Hash Marker, {{ user.username }}!</h2>
        {% else %}
            <h2>Welcome to Hash Marker!</h2>
        {% endif %}
    {% endblock %}

    {% block body %}
    {% endblock %}
</div>

</body>
</html>
