{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Permission Denied</title>
</head>

{% block body %}
<body>
    <h1>YOU DO NOT HAVE PERMISSION TO BE THERE</h1>
    <h2>Please enjoy the other areas of our site!</h2>
<div class="jumbotron">
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'shorten:home' %}" role="button">Click here to go to our home
      page
  </a></p>
    <h2>If you do have permission please log in and try again</h2>
</div>
</body>
{% endblock %}
</html>