
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url('../img/aboveclouds.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.colour {
    background-color: #A1B7BF;
}

.blueish {
    background-color: rgba(161, 183, 191, .6) !important;
}


.centermake {
    width: 700px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.righter {
    padding-left: 22px;
}

.transparents
{
  -moz-opacity:.50;
  filter:alpha(opacity=50);
}

.transchilds {
    opacity: 10 !important;
}

.boxy {
    background-color: rgba(161, 183, 191, .6);
    transition: box-shadow .25s;
    border-radius: 5px;
    padding-top:    20px;
    padding-bottom: 25px;
}

/* label color */
   .input-field label {
     color: #FFF;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #222 !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000 !important;
     box-shadow: 0 1px 0 0 #000 !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000 !important;
     box-shadow: 0 1px 0 0 #000 !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

.bryan {
    background-color: #719CA0 !important;
}
